.deps
.libs
acinclude.m4
aclocal.m4
autom4te.cache
build
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
ece.la
install-sh
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
modules
missing
mkinstalldirs
php_ece.lo
run-tests.php
sftp-config.json
tmp-php.ini
